.categories{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: column;
    @media screen and (max-device-width: 600px){
        display: none;
    }
    &__types{
        height: 300px;
        margin: 0;
        padding: 3%;
        text-align: center;
        background-color: #0a211183;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        @media screen and (min-device-width: 1024px){
            height: 340px;
        }
        h2 {
            margin: 0;
            padding: 20px 0 0 0;
        }
        ul{
            display: flex;
            flex-direction: row;
            width: 96%;
            height: 62%;
            padding: 0;
            justify-content: space-between;
            align-items: flex-start;
            align-self: center;
            margin: 1% 0;
            @media screen and (min-device-width: 1024px){
                height: 41%;
                width: 80%;
                justify-content: center;
            }
        }
        .awards__categories{
            padding: 0;
            margin: 0;
            width: 12%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @media screen and (min-device-width: 1024px){
                margin: 0 1%;
                min-height: 224px;
            }
            figure {
                height: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                img {
                    width: auto;
                    margin: 0;
                    padding: 0;
                    max-height: 75px;
                    @media screen and (min-device-width: 1024px){
                        max-height: 48%;
                    }
                }
            }
            &__titles{
                font-size: 12px;
                font-weight: 800;
                margin: 0;
                padding: 0;
                min-height: 105px;
                @media screen and (min-device-width: 1024px){
                    min-height: 105px;
                    font-size: 18px;
                }
            }
        }
    }
    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: -12% 0 0 0;
        @media screen and (min-device-width: 1024px){
            margin: -9% 0 0 0;
            width: 82%;
        }
        fieldset{
            width: 100%;
            height: auto;
            background-color: white;
            border-radius: 15px;
            padding: 0;
            margin: 25px 0;
            border: none;
            @media screen and (min-device-width: 1024px){
                height: 202px;
            }
            legend {
                height: 68px;
                width: 278px;
                font-size: 25px;
                font-weight: 800;
                border-radius: 15px;
                background-color: #C7BD6F;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                position: relative;
                top: 45%;
                right: 4%;
                @media screen and (min-device-width: 1024px){
                    right: 6%;
                }
            }
            .nomination, .contact {
                padding: 3%;
                margin: 10% 0 1% 34%;
                width: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                position: relative;
                top: -23px;
                @media screen and (min-device-width: 1024px){
                    padding: 0;
                    margin: 3% 0 1% 30%;
                    width: 64%;
                    flex-direction: row;
                }
                select, input{
                    background-color: #EFEFEF;
                    color: #BCBCBC;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    font-style: italic;
                    border-radius: 15px;
                    height: 75px;
                    border: none;
                    margin: 1% 0 3% 0;
                    padding: 0px 0 0px 25px;
                    @media screen and (min-device-width: 1024px){
                        margin: 0;
                    }
                }
                .warning {
                    color: red;
                    font-size: 12px;
                    font-weight: 500;
                    font-style: italic;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: -20px;
                    right: 40px;
                    @media screen and (min-device-width: 1024px){
                        top: -20px;
                        right: 0;
                    }
                }
            }
            .nomination {
                @media screen and (min-device-width: 1024px){
                    width: 70%;
                    margin: 3% 0 1% 28%;
                }
                select, input {
                    width: auto;
                    margin: 0 7% 4% 0;
                    @media screen and (min-device-width: 1024px){
                        width: 50%;
                        margin: 0 1% 0 0;
                    }
                }
            }
            .contact {
                justify-content: space-between;
                input {
                    width: 87%;
                    @media screen and (min-device-width: 1024px){
                        width: 28%;
                        /* margin: 3% 0 1% 26%; */
                    }
                }
            }
        }
        option{
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
        }
        .ast{
            color: red;
            padding: 0;
            margin: 0;
            font-size: 1em;
            position: relative;
            left: 20px;
            top: 35px;
            @media screen and (min-device-width: 1024px){
                left: 3%;
                top: 12px;
            }
        }
        #button {
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            font-weight: 800;
            color: white;
            width: 278px;
            height: 68px;
            background-color: #38D430;
            border-radius: 15px;
            align-self: center;
            border: none;
            cursor: pointer;
        }
    }
}
