header{
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
    padding: 0;
    p, a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 0.6em;
        font-weight: bold;
        width: 100%;
        @media screen and (min-device-width: 1040px){
            font-size: 1em;
        }
    }
    @media screen and (max-device-width: 600px){
        display: none;
    }
    .header{
        &__logo{
            width: 20%;
            margin: 0;
            padding: 0;
            &__proper{
                width: 85%;
            }
        }
        &__nav{
            width: 80%;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            align-items: center;
            &__list{
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0 0 0 0px;
                width: 100%;
                flex-wrap: nowrap;
                justify-content: space-between;
                @media screen and (min-device-width: 1023px){
                    padding: 0 0 0 26px;
                }
                li{
                    width: auto;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    @media screen and (min-device-width: 1023px){
                        width: auto;
                    }
                    a:hover{
                        font-size: 1.5em;
                        color: chartreuse;
                    }
                }
            }
        }
    }
}
