.terms {
    width: 100%;
    margin: 0% 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (max-device-width: 600px){
        display: none;
    }
    &__list{
        width: 100%;
        margin: 0;
        padding: 70px 0;
        background-color: #c7bd6f6c;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        &__proper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            @media screen and (min-device-width: 601px){
                width: 90%;
            }
            &--numbers{
                width: 90%;
                font-size: 84px;
                font-weight: 800;
                margin: 0 4% 0 0;
                @media screen and (max-device-width: 1023px){
                    font-size: 45px;
                }
            }
            li{
                display: flex;
                flex-direction: row;
                width: 30%;
                margin: 0;
                padding: 0;
                justify-content: space-around;
            }
        }
    }
    &__box{
        width: 60%;
        border-radius: 15px;
        background-color: white;
        text-align: center;
        padding: 10%;
        margin: 18% auto;
        position: relative;
        top: -243px;
        @media screen and (min-device-width: 1024px){
            width: 80%;
            padding: 7%;
            margin: 10% auto;
        }
        h2, p, span{
            color: black;
        }
        h2{
            padding: 0;
            margin: 0 0 6% 0;
        }
        &--inner {
            height: auto;
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: auto;
                width: 100%;
                padding: 0;
                margin: 0;
                @media screen and (min-device-width: 1024px){
                    height: 380px;
                }
                li{
                    display: flex;
                    flex-direction: row;
                    width: 96%;
                    margin: 0 0 4% 0;
                    padding: 0;
                    @media screen and (min-device-width: 1024px) {
                        width: 52%;
                        margin: 0 0 2% 0;
                    }
                    &::before{
                        content: url("../assets/check-icon.png");
                        margin: 3px 25px 0 0;
                    }
                }

            }
        }
        &__items{
            font-weight: 900;
            color: #C7BD6F !important;
            padding: 0;
            margin: 0 0 3px 0;
            &--desc{
                font-weight: 500;
                padding: 0;
                margin: 0;
                & span {
                    font-weight: bold;
                }
            }
            &--container{
                text-align: left;
                @media screen and (min-device-width: 1024px) {
                    width: 73%;
                }
                .duplication_conditions{
                    font-size: 18;
                    font-weight: 500;
                    /* margin: 0;
                    padding: 0; */
                    span {
                        font-weight: bold;
                    }
                    &::before {
                        content: "■";
                        color: #B9C279;
                    }
                }
            }
        }
    }
}
