.terms_numbers {
    font-size: 84px;
    font-weight: 800;
}
.terms__box__items {
    font-weight: 900;
}

.terms__box__items--desc{
    font-weight: 500;
}
.terms__box__items--desc span{
    font-weight: bold;
}
